@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-top: 40px;
}

.title {
    text-align: center;
    font-size: 36px;
    color: #444444;
}